# https://grafana.com/docs/loki/latest/configure/storage/

loki:
  commonConfig:
    replication_factor: 1

  auth_enabled: false

  storage:
    type: s3
    bucketNames:
      chunks: chunks
      ruler: ruler
      admin: admin

    s3:
      s3forcepathstyle: true
      region: null
      insecure: true
      # <1>
      # http<s>://<username>:<secret>@<fqdn>:<port>
      endpoint: http://admin:password@minio.minio.svc.cluster.local:9000
      accessKeyId: 0y627goA5gbu48aOd3g2
      secretAccessKey: fvwKHtYpAVxU8vTZHzhEIklTyNaYdIghb5Rx372b

  storage_config:
    aws:
      s3: http://admin:password@minio.minio.svc.cluster.local:9000
      s3forcepathstyle: true

  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  pattern_ingester:
      enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true
  ruler:
    enable_api: true
  ruler:
    enable_api: true
    storage:
      type: s3
      s3:
        region: null
        bucketnames: ruler
        s3forcepathstyle: true

  pattern_ingester:
      enabled: true
  limits_config:
    allow_structured_metadata: true
    volume_enabled: true

deploymentMode: SingleBinary

singleBinary:
  resources:
    requests:
      cpu: 1
      memory: 1Gi
    limits:
      cpu: 2
      memory: 4Gi
  extraArgs: ["-log.level=info", "-config.expand-env=true"]

# ingester:
#   autoforget_unhealthy: true

gateway:
  enabled: true

# Disable other deployment modes
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0

distributor:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
ruler:
  replicas: 0
compactor:
  replicas: 0
indexGateway:
  replicas: 0

# <2>
# serviceAccount:
  # use the default service account
  # annotations:
    # eks.amazonaws.com/role-arn: arn:aws:iam::445567090745:role/o11yLokiServiceAccountRole
