apiVersion: v1
kind: Service
metadata:
  name: docker-registry
  namespace: docker-registry
spec:
  type: ClusterIP
  ports:
  - name: docker-registry
    protocol: TCP
    port: 5000
    targetPort: 5000
  selector:
    app: docker-registry
